<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>SubmitFeedbackServlet</servlet-name>
        <servlet-class>SubmitFeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>AdminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDetailsServlet</servlet-name>
        <servlet-class>AdminDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAdminServlet</servlet-name>
        <servlet-class>UpdateAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogoutServlet</servlet-name>
        <servlet-class>AdminLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupervisorLoginServlet</servlet-name>
        <servlet-class>SupervisorLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupervisorDetailsServlet</servlet-name>
        <servlet-class>SupervisorDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupervisorLogoutServlet</servlet-name>
        <servlet-class>SupervisorLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSupervisorServlet</servlet-name>
        <servlet-class>UpdateSupervisorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CitizenSignupServlet</servlet-name>
        <servlet-class>CitizenSignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CitizenLoginServlet</servlet-name>
        <servlet-class>CitizenLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CitizenDetailsServlet</servlet-name>
        <servlet-class>CitizenDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCitizenServlet</servlet-name>
        <servlet-class>UpdateCitizenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CitizenLogoutServlet</servlet-name>
        <servlet-class>CitizenLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CComplaintSubmissionServlet</servlet-name>
        <servlet-class>CComplaintSubmissionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Citizen_ViewComplaintsServlet</servlet-name>
        <servlet-class>Citizen_ViewComplaintsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClerkLoginServlet</servlet-name>
        <servlet-class>ClerkLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClerkDetailsServlet</servlet-name>
        <servlet-class>ClerkDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateClerkServlet</servlet-name>
        <servlet-class>UpdateClerkServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClerkLogoutServlet</servlet-name>
        <servlet-class>ClerkLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Clerk_ViewComplaintsByUserServlet</servlet-name>
        <servlet-class>Clerk_ViewComplaintsByUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClerkComplaintSubmissionServlet</servlet-name>
        <servlet-class>ClerkComplaintSubmissionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Clerk_ViewComplaintsServlet</servlet-name>
        <servlet-class>Clerk_ViewComplaintsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Supervisor_ViewComplaintsByUserServlet</servlet-name>
        <servlet-class>Supervisor_ViewComplaintsByUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Supervisor_ViewComplaintsByClerkServlet</servlet-name>
        <servlet-class>Supervisor_ViewComplaintsByClerkServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoadRepairReportServlet</servlet-name>
        <servlet-class>RoadRepairReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSupervisorServlet</servlet-name>
        <servlet-class>AddSupervisorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSupervisorServlet</servlet-name>
        <servlet-class>DeleteSupervisorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddClerkServlet</servlet-name>
        <servlet-class>AddClerkServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteClerkServlet</servlet-name>
        <servlet-class>DeleteClerkServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SubmitFeedbackServlet</servlet-name>
        <url-pattern>/SubmitFeedbackServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/AdminLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDetailsServlet</servlet-name>
        <url-pattern>/AdminDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAdminServlet</servlet-name>
        <url-pattern>/UpdateAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogoutServlet</servlet-name>
        <url-pattern>/AdminLogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupervisorLoginServlet</servlet-name>
        <url-pattern>/SupervisorLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupervisorDetailsServlet</servlet-name>
        <url-pattern>/SupervisorDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupervisorLogoutServlet</servlet-name>
        <url-pattern>/SupervisorLogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSupervisorServlet</servlet-name>
        <url-pattern>/UpdateSupervisorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CitizenSignupServlet</servlet-name>
        <url-pattern>/CitizenSignupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CitizenLoginServlet</servlet-name>
        <url-pattern>/CitizenLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CitizenDetailsServlet</servlet-name>
        <url-pattern>/CitizenDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCitizenServlet</servlet-name>
        <url-pattern>/UpdateCitizenServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CitizenLogoutServlet</servlet-name>
        <url-pattern>/CitizenLogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CComplaintSubmissionServlet</servlet-name>
        <url-pattern>/CComplaintSubmissionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Citizen_ViewComplaintsServlet</servlet-name>
        <url-pattern>/Citizen_ViewComplaintsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClerkLoginServlet</servlet-name>
        <url-pattern>/ClerkLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClerkDetailsServlet</servlet-name>
        <url-pattern>/ClerkDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateClerkServlet</servlet-name>
        <url-pattern>/UpdateClerkServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClerkLogoutServlet</servlet-name>
        <url-pattern>/ClerkLogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Clerk_ViewComplaintsByUserServlet</servlet-name>
        <url-pattern>/Clerk_ViewComplaintsByUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClerkComplaintSubmissionServlet</servlet-name>
        <url-pattern>/ClerkComplaintSubmissionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Clerk_ViewComplaintsServlet</servlet-name>
        <url-pattern>/Clerk_ViewComplaintsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Supervisor_ViewComplaintsByUserServlet</servlet-name>
        <url-pattern>/Supervisor_ViewComplaintsByUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Supervisor_ViewComplaintsByClerkServlet</servlet-name>
        <url-pattern>/Supervisor_ViewComplaintsByClerkServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoadRepairReportServlet</servlet-name>
        <url-pattern>/RoadRepairReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSupervisorServlet</servlet-name>
        <url-pattern>/AddSupervisorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSupervisorServlet</servlet-name>
        <url-pattern>/DeleteSupervisorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddClerkServlet</servlet-name>
        <url-pattern>/AddClerkServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteClerkServlet</servlet-name>
        <url-pattern>/DeleteClerkServlet</url-pattern>
    </servlet-mapping>
</web-app>
